@import '../../styles/tools/tools.mixins';

.btn {
  display: block;
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding: 0.8rem 1rem;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
  @include tablet {
    display: inline-block;
  }
  

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  }
}

.btn__animate {
  background-image: linear-gradient(
    135deg,
    #090979 0%,
    #00d4ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: #090979;
  border: 2px solid  #090979;
  // border-image: linear-gradient(
  //   135deg,
  //   #090979 0%,
  //    #00d4ff 100%
  // );
  border-image-slice: 1;
  // Responsive Button hero style
  // @include respond(phone) {
  //   background-image: none;
  //   border: 2px solid #090979;
  //   -webkit-text-fill-color: #090979;
  // }

  &::after {
    background-image: linear-gradient(
      135deg,
      #090979 0%,
       #00d4ff 100%
    );
    // // Responsive Button hero style
    // @include respond(phone) {
    //   background-image: none;
    // }
  }

  &:hover {
    -webkit-text-fill-color: #fff;
    text-decoration: none;
    // Responsive Button hover hero style
    // @include respond(phone) {
    //   -webkit-text-fill-color:  #00d4ff;
    // }

    &::after {
      width: 100%;
    }
  }
}

/* Resume Style */
.inverted {
  color: #fff;
  -webkit-text-fill-color: #fff;
  border: 2px solid #fff;

  &::after {
    background: #fff;
  }

  &:hover {
    color: #090979;
    -webkit-text-fill-color: #090979;
    text-decoration: none;

    &::after {
      width: 100%;
    }
  }
}

.btn__xl{
  width: 85%;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  @include tablet {
    width: 30%;
    margin-right: 1rem;
  }
  @include desktop {
    width: 30%;
    max-width: 300px;
  }
}


.btn__medium{
  width: 85%;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  @include tablet {
    width: 60%;
  }
  @include desktop {
    padding: .5rem 1rem;
    width: 60%;
    max-width: 300px;
  }
}