/* Settings refer to all your global configurations and variables, like sizes, colors, and fonts. They should be used to aid in your build configuration, and therefore should not contain actual CSS code */

///*----------------------------------*\
//  #COLORS
//\*----------------------------------*/

// Set up a colour palette which allows us to theme the entire project from one
// location.

// Colour palette.

  /* ========COLORS======= */
  /* Background Colors */
  $main-background:#FFFFFF;
  $footer-background: #F5F6F8;

  // /* Primary Colors */
  $primary-color:#090979 ;
  $secondary-color: #00d4ff;

  // /* Hover State Colors */
  // $primary-hover: ;
  // $secondary-hover: ;

  // /* Accent Colors */
 

  // /* Neutral */
  // $neutral-color--1: ;
  // $neutral-color--2: ;
