/* =========Font Imports=========== */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* ========FONTS======== */
$font-primary: 'Montserrat', sans-serif;
// $header-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
// Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;